html, body {
    margin: 0;
    padding: 0;
    height: 200%;
}
body {
    height: 100vh;
    margin: 0 auto;
    background-image: url('kastBackground.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

body { 
    font-size: 10px;
    background: linear-gradient(130deg, rgb(162, 52, 217) 0%, rgba(0, 28, 155, 0.747) 50%, rgb(35, 67, 211) 100%);
}

.background{
    position: absolute;
    margin-top: -10vh;
    z-index: -1;
}
.laptop{
 margin-top: -0vh;

    display: block;
  margin-left: auto;
  margin-right: auto;
    bottom: 0;
    right: 0;


}
.top-left{
    position: absolute;
    top: 8px;
    left: 16px;
}
/* NAVBAR */
/* Add a black background color to the top navigation */
/* Add a black background color to the top navigation */
.topnav {
    background-color: rgba(51, 51, 51, 0.061);
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font: 20px Arial, sans-serif;
  word-spacing: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  color: white;
  font: 50px Arial, sans-serif;
  letter-spacing: 20px;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
    vertical-align: middle;
}
.Kast {
    font: size 50;
    }
.topnav a.img.logo{
size: 10px;
}

/* NAVBAR^ */


  .center {
    margin-left: auto;
    margin-right: auto;
    margin-top: 25vh;
    width: 50%;
    padding: 10px;
    text-align: center;
    font: 50px Arial, sans-serif;
    color: white;
  }
  .center2{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vh;
    width: 50%;
    padding: 10px;
    text-align: center;
    font: 20px Arial, sans-serif;
    color: white;
  }

  .background{
    opacity: 100%;
    margin-top: 21vh;
    background-size: cover;
  }
.openKast{
  margin-left: auto;
  margin-right: auto;
}
.openKast img{
  display: block;
  margin-left: auto;
  margin-right: auto;
    bottom: 0;
    right: 0;
}